.phonebook {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  box-shadow: 0 54px 55px rgb(0 0 0 / 25%), 0 -12px 30px rgb(0 0 0 / 12%),
    0 4px 6px rgb(0 0 0 / 12%), 0 12px 13px rgb(0 0 0 / 17%),
    0 -3px 5px rgb(0 0 0 / 9%);
}
